:root {
    --color-primary-dark: #2B7FFF;
    --color-primary-light: #FFFFFF;
    --color-brand: #011C44;
    --color-coment-button: #4A4A4A;
    --color-article-text: #000000;
    --color-secondary-dark: #747272;
    --header-background-color: #ffffff40;
}

$bp-mobile : 360px;
$bp-tablet: 768px;
$bp-desktop : 1280px;